= semantic_form_for [:admin, @product], builder: ActiveAdmin::FormBuilder do |f|
  = f.inputs do
    = f.input :name
    = f.input :description
    = f.input :price
    = f.input :images, as: :file
    = f.actions